<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark fixed-top no-print">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                <i class="fas fa-book-open me-2"></i> BibliotecaPro
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}"><i class="fas fa-swatchbook me-1"></i> Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/cv}"><i class="fas fa-user-tie me-1"></i> Mi CV</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>
